* {
  margin: o;
  padding: 0;
  box-sizing: border-box;
  font-family: tomato;
}

h1 {
  color: red;
  font-style: oblique;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.post {
  height: 200px;
  width: 300px;
  border: 2px solid black;
  border-radius: 10px;
  color: aliceblue;
}

.username {
  color: aqua;
  font-family: italic;
}

.content {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}