<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>showuser</title>
</head>

<body>

  <table>
    <tr>
      <th>id</th>
      <th>email</th>
      <th>username</th>
    </tr>
    <%for(user of users){%>
      <tr>
        <td>
          <%=user.id%>
        </td>
        <td>
          <%=user.email%>
        </td>
        <td>
          <%=username%>
        </td>
      </tr>
      <td>
        <form method="get" action="/user/<%=user.id%>/edit"></form>
        <button>edit user name</button>
        </form>
      </td>
      <%}%>
  </table>

</body>

</html>